.empo-top
    font-family: poppins_semi_bold
    margin-bottom: 3%
.nav-top 
    padding-top: 1%
    width: 100%
    font-size: 75%
    color: gray
    position: fixed
    background-color: white
    ul
        width: 70%
        margin-left: 14%
.light
    background-color: white
    border: 1px solid black
    border-radius: 0
    height:2vh
    margin-right: 2px
    border-radius: 3px
.dark 
    background-color: black
    border: 1px solid black
    border-radius: 0
    height:2vh
    border-radius: 3px
.connex
    background-color:#6c757d
    color: white
    width: 10%

//Hamburger 
.toggle-button 
    position: absolute
    top: 0.75rem
    right: 1rem
    display: none
    flex-direction: column
    justify-content: space-between
    width: 30px
    height: 30px
.bar 
    height: 3px
    width: 100%
    background-color: gray 
    border-radius: 10px
@media ( max-width: 700px )
    .toggle-button
        display: flex !important
    .av-ul 
        display: none !important
        width: 100% !important
        
    .ul-nav 
        width: 100% !important
        flex-direction: column !important
        li
            margin-top: 2% !important
    .nav-top
        display: flex !important
        flex-direction: column !important
        align-items: flex-start !important
        width: 100% !important
    .av-ul.active 
        display: flex !important

//Section1
.img-premSec
    width: 24rem
.row-premSec
    width: 60%
.btn-sale
    border: none
    border-radius: 20px
    width: 40%
    height: 5.5vh
    color: white
.premSec 
    padding-left: 20%
    background-color: #f3f3f3
.img-logo-premSec
    width: 100%

//Section2 avec 3 cards
.sec2
    width: 100%
    height: 20vh !important
    
.living 
    background-image: url('../img/services/service-1.jpg')
    background-size: cover
    margin-right: 2%
    width: 30%
    height:23vh
    padding: 0
.sale
    background-image: url('../img/services/service-2.jpg')
    background-size: cover
    margin-right: 2%
    width: 30%
    height:23vh
    padding: 0
.clothes
    background-image: url('../img/services/slider-3.jpg')
    background-size: cover
    width: 30%
    height:23vh
    padding: 0
.liv-sal-clo
    height: 20vh !important
.h2-txt
    border-bottom: solid 2px 
    color: white
    text-align: center
    padding-bottom: 1%
    padding-top: 16%
    width: 90%
    margin-left: 4%
    margin: auto
    padding: auto
.h2-txt.bouge 
    transition: 1s ease-in
    width: 50%

.par_h2:hover
    transition: 0.5s ease-in
    height: 23vh !important
    background-color: black
    opacity: 50%

.glob-cartes 
    .row 
        .col-4:hover
            transform: scale(1.1)
            transition: 0.5s ease
